<h1>Items</h1>

<ul>
  <% @items.each do |item| %>
    <li>
      <%= item.title %>
    </li>
    <li>
      <%= item.description %>
    </li>
     <li>
      <%= item.price %>
    </li>
    <li>
    <%= link_to "Edit", edit_item_path(item) %>
    </li>
    <li><%= link_to "Destroy", item_path(item), data: {turbo_method: :delete,turbo_confirm: "Are you sure?"} %>
    </li>
  <% end %>
</ul>
<% if current_user.role == "admin"%>
  <%=link_to "Add new Item",  new_item_path%>
<%end%>

