<div class="container">

<h1>All Categories <%=pluralize @visit_count, 'time'%></h1>
 <%=link_to "Add New Category",  new_category_path,  class:"btn btn-primary"%>
  <details>
    <summary>
      <ul>
        <%@cart.each do |item|%>
            <li>
              <%= item.title%>
           </li>
        <% end %>
      </ul>
    </summary>
  </details>

  <div class="container text-center">
    <table class="table">
    <tbody>
      <%@categories.each do |category|%>
      <tr>
        <td class="align-middle"><h4><%=category.name%></h4></td>
        <td> <%=image_tag category.avatar ,width: "400px", height: "150px" if category.avatar.attached?%></td>
        <td class="align-middle"><%=link_to "Show", category_path(category),  class:"btn btn-primary"%></td>
        <td class="align-middle"><%=link_to "Edit this Category", edit_category_path(category) ,  class:"btn btn-warning"%></td>

         </tr>
      <% end %>
    </tbody>
    </table>

  </div>

</div>
