<h1><%= @category.name %></h1>
<% @categories_items.each do |categories_items|%>
  <% if categories_items.category_id == @category.id%>
     <%@items.each do |item|%>
         <% if categories_items.item_id== item.id%>
         <ul>
          <li>
          Title:
          <%=item.title%>
         </li>
         <li>
         Description:
          <%=item.description%>
         </li>
         <li>
         Price:
          <%=item.price%>
         </li>
         <li>
           <%=link_to "Add to cat", add_to_cart_path(@category,item), method: :post%>
         </li>

         </ul>
         <li>
         <%=link_to "Edit this Item",  edit_category_item_path(@category,item)%>
         </li>
         <% end %>
      <% end %>
  <% end %>
<% end %>
<% if current_user.role=="admin" %>
  <%=link_to "Add new Item", new_category_item_path(@category,@item)%>
<% end %>
<br/>
<%=link_to "All Categories",   categories_path%>
