<div class="container">
<nav class="navbar navbar-light bg-light">
  <%=link_to "Dinner Dash", root_path, class:"navbar-brand"%>
  <%=link_to "Categories", categories_path, class:"nav-link"%>
  <%=link_to "My Cart", categories_path, class:"nav-link"%>
  <%=link_to "My orders", categories_path, class:"nav-link"%>
  <form class="form-inline">
    <% if current_user %>
      <%=link_to "Edit Profile",  edit_user_registration_path, class:"btn btn-outline-warning"%>
      <%=link_to "Sign Out", destroy_user_session_path,  method: :delete, class:"btn btn-outline-danger"%>
      <% else %>
      <%=link_to "Sign In", new_user_session_path, class:"btn btn-outline-primary"%>
      <%=link_to "Sign Up", new_user_registration_path, class:"btn btn-outline-success"%>
    <% end %>
  </form>
</nav>

</div>
